# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

auto-results

bayes.rtm
genome.rtm
intruder.rtm
kmeans.rtm
labyrinth.rtm
ssca2.rtm
vacation.rtm
yada.rtm

bayes.seq
genome.seq
intruder.seq
kmeans.seq
labyrinth.seq
ssca2.seq
vacation.seq
yada.seq

bayes/bayes
genome/genome
intruder/intruder
kmeans/kmeans
labyrinth/labyrinth
ssca2/ssca2
vacation/vacation
yada/yada
