# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

auto-results

intset-rbtree
rbforest

array.rtm
bayes.rtm
genome.rtm
intruder.rtm
kmeans.rtm
labyrinth.rtm
ssca2.rtm
vacation.rtm
yada.rtm

array.seq
bayes.seq
genome.seq
intruder.seq
kmeans.seq
labyrinth.seq
ssca2.seq
vacation.seq
yada.seq

array/array
bayes/bayes
genome/genome
intruder/intruder
kmeans/kmeans
labyrinth/labyrinth
ssca2/ssca2
vacation/vacation
yada/yada

ssync/bank
ssync/bank_one
ssync/bank_simple
ssync/individual_ops
ssync/stress_latency
ssync/stress_one
ssync/stress_test
ssync/trylock_test
ssync/uncontended
ssync/atomic_latency
ssync/atomic_success
ssync/atomic_test
ssync/htlock_test

